<pre>
# Heading 1
## Heading 2
### Heading 3
#### Heading 4
##### Heading 5
###### Heading 6

Text Formatting

Bold: Wrap text in two asterisks **text** or two underscores __text__.
Italic: Wrap text in one asterisk *text* or one underscore _text_.
Strikethrough: Wrap text in two tildes ~~text~~.
Combined: Wrap text in three asterisks ***text*** for bold and italic.
Line Break: Add two spaces at the end of a line and hit Enter.

- Item 1
- Item 2
  - Sub-item (Indent with 2 or 4 spaces)

1. First item
2. Second item
3. Third item

Insert hyperlink
[Space station](https://github.com/postpdm/space_station/)

> This is a blockquote.
> It can span multiple lines.

Horizontal Rules
Insert three or more asterisks ***, hyphens ---, or underscores ___ on a line by themselves to create a divider.

Tables
| Left Aligned | Center Aligned | Right Aligned |
| :---         |     :---:      |          ---: |
| Text         | More Text      | $100          |

</pre>
