{% extends 'orion_cms/base.html' %}

{% block title %}CMS{% endblock %}

{% block body %}
      <section id="CMS">
<h1>Enterprise CMS</h1>

	<h2>Tree</h2>
	<ul id="page_tree"></ul>
		
    <p><button onclick="loadTree()">Read pages tree</button></p>
    <p><a href="/cms/new_tree_node" role="button">New node</a></p>



      </section>

    <script>
      
	  async function loadTree() {

fetch('/cms/get_page_tree_api')
  .then(response => response.json())
  .then(data => {
    // print
	const listBody = document.getElementById('page_tree');

// delete list content
listBody.innerHTML = '';

// array
data.items.forEach(item => {


      const li = document.createElement('li');
	  const link = document.createElement('a');
	  link.href = `/cms/tree_node_page/${item.id}`; 
		
      link.textContent = item.title;
	  li.appendChild(link);
      listBody.appendChild(li);
	  
  
  });




  })
  .catch(error => {
    document.getElementById('page_tree').textContent = 'Fail!';
  });

			};

window.onload = loadTree;

</script>



{% endblock %}
