{% extends 'orion_cms/base.html' %}

{% block title %}CMS - new page{% endblock %}

{% block body %}

<section id="editor">


<form id="new_page_Form">
	<div>
        <label for="title">Title:</label>
        <input type="text" id="title" required placeholder="Enter the title">
    </div>
    
    <button type="submit">Send</button>
</form>
<script>
  

    document.getElementById('new_page_Form').addEventListener('submit', async function(e) {
        e.preventDefault(); // cancel

        const statusDiv = document.getElementById('status');
        statusDiv.textContent = 'Sending...';
        statusDiv.style.color = 'black';

        // Get elements
        const title = document.getElementById('title').value;
        
        // payload
        const payload = {
            title: title,
        };

        try {
            // POST API
            const response = await fetch('/cms/new_page_api', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(payload)
            });

            if (response.ok) {
                const result = await response.json();
                statusDiv.textContent = 'Success!';
                statusDiv.style.color = 'green';
                document.getElementById('new_page_Form').reset(); // Clear form
				window.location.href = `/cms/page/${result.id}`;
						
            } else {
                const errorText = await response.text();
                statusDiv.textContent = `Server fail: ${response.status} - ${errorText}`;
                statusDiv.style.color = 'red';
            }
        } catch (error) {
            statusDiv.textContent = `Network fail: ${error.message}`;
            statusDiv.style.color = 'red';
        }
    });
  
  
  
</script>

<div id="status"></div>


</section>

{% endblock %}
