{% extends 'orion_cms/base.html' %}

{% block title %}CMS stat{% endblock %}

{% block extra_header %}

    <!-- Chartist.js -->
	{% if USE_CDN %}
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chartist/dist/chartist.min.css">
		<script src="https://cdn.jsdelivr.net/npm/chartist/dist/chartist.min.js') }}"></script>
	{% else %}
		<link rel="stylesheet" href="{{ url_for_static_asset('static', file_path='charts/chartist/0.11.4/chartist.min.css') }}">
		<script src="{{ url_for_static_asset('static', file_path='charts/chartist/0.11.4/chartist.min.js') }}"></script>
	{% endif %}

{% endblock %}


{% block body %}
      <section id="CMS">
<h1>Statistics</h1>

	<p>Total page count: <div id="statistic_page_count_div"></div></p>

	<p>Page by days:</p>

	  <table border="1">
	  <thead>
		<tr>
		  <th>Day</th>
		  <th>Count</th>
		</tr>
	  </thead>
	  <tbody id="statistic_page_by_day_div">
		<!-- data -->
	  </tbody>
	  </table>


  <div id="chart" class="ct-chart"></div>

    <p><button onclick="loadPages()">Refresh statistics</button></p>

      </section>

<script>
async function loadPages() {
	
	const labels = [];
    const series = [];
	
	fetch('/cms/get_statistics_api_page_count')
	  .then(response => response.json())
	  .then(data => {
		// print
		const countBody = document.getElementById('statistic_page_count_div');
		// delete list content
		countBody.innerHTML = data;
	  })
	  .catch(error => {
		document.getElementById('errors2').textContent = 'Fail!';
	  });

	fetch('/cms/get_statistics_api_page_created_by_day')
	  .then(response => response.json())
	  .then(data => {
		const tableBody = document.getElementById('statistic_page_by_day_div');
		
		tableBody.innerHTML = '';
		

		data.forEach(item => {
		  const row = `
			<tr>
			  <td>${item.day}</td>
			  <td>${item.count}</td>
			</tr>
		  `;
		  tableBody.innerHTML += row;
		  
		});

		data.sort((a, b) => new Date(a.day) - new Date(b.day));
		const labels = data.map(item => item.day);
		const series = [data.map(item => item.count)];

		new Chartist.Bar('#chart', {
		  labels,
		  series
		}, {
		  fullWidth: true,
		  chartPadding: { right: 20, left: 10 },
		  axisX: {
			labelInterpolationFnc: function(value) {
			  const d = new Date(value);
			  return d.toLocaleDateString({{i18n}}'en-EN', {
				day: '2-digit',
				month: '2-digit',
				year: 'numeric'
			  });
			}
		  },
		  axisY: {
			onlyInteger: true,
			offset: 40
		  }
		});

	

	  })
	  .catch(error => {
		document.getElementById('errors2').textContent = 'Fail!' + error;
	  });


    

};

window.onload = loadPages;

</script>

<div id="errors1"></div>
<div id="errors2"></div>




	  {% endblock %}
