# Common section

LITESTAR_DEBUG=True
ENVIRONMENT=dev

# Auth section

AM_I_USER_URL = http://127.0.0.1:8000/star_fortress/fake_user
AM_I_USER_SERVER_REQUEST = True
AM_I_USER_LOGIN_FIELD = userLogin
AM_I_USER_NAME_FIELD = userName
