# Common section

LITESTAR_DEBUG=True
ENVIRONMENT=dev

# Auth section

AM_I_USER_URL = http://127.0.0.1:8000/star_fortress/fake_user
AM_I_USER_SERVER_REQUEST = False
AM_I_USER_LOGIN_FIELD = userLogin
AM_I_USER_NAME_FIELD = userName

# GIS section
## GeoServer

GIS_USE_GEOSERVER = False

PROJECTION = 'EPSG:3857'
TILE_SIZE = 256
WMTS_ATTRIBUTIONS = 'Your GeoServer copyright'
# WMTS_URL = https://your_gis.local/gisproxy/gwc/service/wmts
WMTS_URL = 
# WMTS_LAYER = 'topo_cache:topo_map'
WMTS_LAYER = ''
# WMS_URL = https://your_gis.local/gisproxy/ows
WMS_URL = 
# LAYERS IN JSON LIST FORMAT
# WMS_LAYERS = ' ["towns:towns", "geo:continents" ] '
WMS_LAYERS = 