# Environment configuration
.env

# ---> Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite local files
*.sqlite


# Windows
*.bat

# session_data folder (if File_Storage used)
session_data