<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>

	{% block title %}{% endblock %}

	</title>
	<link rel="stylesheet" href="{{ url_for_static_asset('static', file_path='cosmos/cosmos.css') }}">
	<style>
	{% block addition_style %}{% endblock %}
	</style>

</head>

<body>


<!-- Navigation Menu -->
<nav class="stargazin-nav">
  <ul>
    <li><a href="/star_fortress/">Star fortress homeworld</a></li>
    <li><a href="/star_fortress/gnn">GNN</a></li>
    <li><a href="/star_fortress/hull">Hull</a></li>
    <li><a href="/star_fortress/crew">Crew</a></li>
    <li><a href="/star_fortress/wilderness_unvoid">Wilderness Unvoid</a></li>
    <li><a href="/star_fortress/profile">Admin profile</a></li>
  </ul>
</nav>


{% block body %}Base{% endblock %}

<footer>
    All systems ok.
</footer>

</body>