
{% if server_request %}
	<p>Server request get you auth user name</p>
	{% if error %}
		{{error}}
	{% endif %}

	{% if user_name %}
	<code>
	<p>{{user_name}}</p>
	</code>
	{% endif %}

	{% if js_data %}
	Raw output
	<pre>{{js_data}}</pre>
	{% endif %}

{% else %}

	<p>Client request get you auth user name</p>
	<div id="user_name"></div>

	<script>

	async function getField(url, fieldName) {
	  const response = await fetch(url, { credentials: 'include' } );
	  const data = await response.json();

	  console.log( data );

	  document.getElementById('user_name').textContent = data[fieldName];
	}

	getField( "{{am_i_user_url}}", "{{am_i_user_field}}" );

	</script>

{% endif %}