
{% if server_request %}
	<p>Server request get you auth user name</p>
	{% if error %}
		{{error}}
	{% endif %}

	{% if user_login %}
	<code>
	<p>{{userlogin}}</p>
	</code>
	{% endif %}

	{% if user_name %}
	<code>
	<p>{{user_name}}</p>
	</code>
	{% endif %}

	{% if js_data %}
	Raw output
	<pre>{{js_data}}</pre>
	{% endif %}

{% else %}

	<p>Client request get you auth user name</p>
	<div id="user_login"></div>
	<div id="user_name"></div>

	<script>

	async function getField( ) {
	  const response = await fetch( "{{am_i_user_url}}", { credentials: 'include' } );
	  const data = await response.json();

	  document.getElementById('user_login').textContent = data["{{am_i_user_login_field}}"];
	  document.getElementById('user_name').textContent = data["{{am_i_user_name_field}}"];
	}

	getField( );

	</script>

{% endif %}