{% extends 'star_fortress/base.html' %}
{% block title %}
    Star fortress - Space station admin portal
{% endblock %}
{% block body %}

<h1>Wilderness unvoid</h1>
<h2>Keep your secrets hidden when calling external APIs and services</h2>
<p><q>The unknown whispers of unnatural things.</q></p>

<table>
  <caption>
    Registered API
  </caption>
  <thead>
    <tr>
      <th>API name</th>
      <th>API URL</th>
      <th>Key expired data</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th></th>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<h2>Register external databases</h2>
<p><q>Forerunner artifacts should be under legacy control.</q></p>

<table>
  <caption>
    Registered DB's
  </caption>
  <thead>
    <tr>
      <th>Slug</th>
      <th>connection URL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

{% endblock %}