{% extends 'star_fortress/base.html' %}
{% block title %}
    Star fortress - Space station admin portal
{% endblock %}
{% block body %}

<h1>Wilderness unvoid</h1>
<h2>Keep your secrets hidden when calling external APIs and services</h2>
<p><q>The unknown whispers of unnatural things.</q></p>

<table>
  <caption>
    Registered API
  </caption>
  <thead>
    <tr>
      <th>API name</th>
      <th>API URL</th>
      <th>Key expired data</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th></th>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<h2>Register external databases</h2>
<p><q>Forerunner artifacts should be under legacy control.</q></p>

<form action="/star_fortress/wilderness_unvoid/add_new_external_db/" method="get">
  <button type="submit">Register external DB</button>
</form>

<table>
  <caption>
    Registered DB's
  </caption>
  <thead>
    <tr>
      <th>Resource name</th>
      <th>Connection string</th>
      <th>Expires at</th>
    </tr>
  </thead>
  <tbody>
  {% for edb in external_db %}
    <tr>
      <td>{{edb.resource_name}}</td>
	  <td>
      <img src="{{url_for_static_asset('static', file_path='cosmos/yautja_symbols.svg') }}" alt="secret" width="100%" style="max-width: 150px;">
      </td>


	  <td>{{edb.expires_at}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>


{% endblock %}