{% extends 'star_fortress/base.html' %}
{% block title %}
    Star fortress - Space station admin portal
{% endblock %}
{% block body %}

<h1>Wilderness unvoid - view external db connection</h1>

<table>
<tbody>
<tr>
<td>UUID</td>
<td>{{external_db.id}}</td>
</tr>
<tr>
<td>Resource name</td>
<td>{{external_db.resource_name}}</td>
</tr>
<tr>
<td>Connection string</td>
<td><img src="{{url_for_static_asset('static', file_path='cosmos/yautja_symbols.svg') }}" alt="secret" width="100%" style="max-width: 150px;"></td>
</tr>
<tr>
<td>Expires at</td>
<td>{{external_db.expires_at}}</td>
</tr>
</tbody>
</table>

<form action="/star_fortress/wilderness_unvoid/edit_external_db/{{external_db.id}}/" method="get">
  <button type="submit">Edit external DB</button>
</form>

{% endblock %}