<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>

	{% block title %}{% endblock %}

	</title>
	<link rel="stylesheet" href="/static/cosmos/cosmos.css">
	<style>	
	{% block addition_style %}{% endblock %}
	</style>

</head>

<body>

<!-- Navigation Menu -->
<nav class="stargazin-nav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/user_fav">Profile</a></li>
  </ul>
</nav>

{% block body %}Base{% endblock %}


<footer>
    All systems ok.
</footer>

</body>