{% extends 'user_portal/base.html' %}
{% block title %}Space station user portal{% endblock %}
{% block body %}

<h1>Welcome to Space Station user portal!</h1>
<p>Space Station give you an access to <a href="#applications">applications</a>.</p>
<p>Go to your <a href="/user_profile">favorites</a>.</p>

   <h3>News</h3>

    <button onclick="loadNews()">Read news</button>

   <table border="1">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>published_dt</th>
      <th>Author</th>
    </tr>
  </thead>
  <tbody id="table-body">
    <!-- data -->
  </tbody>
</table>

  <script src="{{ url_for_static_asset('static', file_path='markdown/marked/18.0.9/marked.umd.js') }}"></script>
    <script>
      
	  async function loadNews() {

fetch('/news')
  .then(response => response.json())
  .then(data => {
    // print
	const tableBody = document.getElementById('table-body');

// delete table
tableBody.innerHTML = '';

// array
data.items.forEach(item => {

  const row = `
    <tr>
      <td>${item.title}</td>
      <td>${marked.parse(item.content)}</td>
      <td>${item.published_dt}</td>
      <td>${item.created_user.user_name}</td>
    </tr>
  `;
  tableBody.innerHTML += row;
  });




  })
  .catch(error => {
    document.getElementById('news-list').textContent = 'Fail!';
  });

			};

</script>

<h2 id="applications">Applications<h2>

{% for p in cached_plugins %}

<h3>{{p.user_title}}</h3>


<p>{{p.user_description}}</p>
	{% for c in p.controllers %}
		<a href="{{c.path}}">{{p.user_title}} application start page</a>
	{% endfor %}

<form class="ajax-form">
  <input type="hidden" name="plugin_UUID" value="{{p.ID}}">
  <button type="submit" id="{{p.ID}}">Add {{p.user_title}} to favorites</button>
</form>

{% endfor %}

<script>
document.addEventListener('submit', async function(e) {
  // check form class
  if (!e.target.classList.contains('ajax-form')) return;
  
  e.preventDefault(); // no page reload
  
  const form = e.target;
  const formData = new FormData(form);
  const data = Object.fromEntries(formData.entries());

  console.log('Send:', data); // print plugin_UUID

  try {
    const response = await fetch('/userfav/userfav', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify(data)
    });
    
    if (response.ok) { console.log(`Success send ID ${data.plugin_UUID}!`); loadFavAppstatus(); }
  } catch (error) {
    console.error('Fail:', error);
  }
});


async function loadFavAppstatus() {
// load user fav status and disable buttons

fetch('/userfav/userfav/')
  .then(response => response.json())
  .then(data => {

// array
data.items.forEach(item => {

	const elButton = document.getElementById(item.plugin_UUID);
	// console.log(item.plugin_UUID)
	// console.log(elButton)
	if (elButton) { elButton.style.display = "none"; };
  });
  })
  .catch(error => {
    document.getElementById('news-list').textContent = 'Fail!';
  });


};

async function PageOnLoad() {
  loadFavAppstatus();
  loadNews();
};
  
  window.onload = PageOnLoad;


</script>

{% endblock %}