{% extends 'user_portal/base.html' %}
{% block title %}Space station user portal{% endblock %}
{% block body %}

<h1>Welcome to Space Station user portal!</h1>
<p>Space Station give you an access to <a href="#applications">applications</a>.</p>

   <h3>News</h3>

    <button onclick="loadNews()">Read news</button>

   <table border="1">
  <thead>
    <tr>
      <th>published_dt</th>
      <th>Title</th>
      <th>ID</th>
    </tr>
  </thead>
  <tbody id="table-body">
    <!-- data -->
  </tbody>
</table>

    <script>
        async function loadNews() {

fetch('/news')
  .then(response => response.json())
  .then(data => {
    // print
	const tableBody = document.getElementById('table-body');

// delete table
tableBody.innerHTML = '';

// array
data.items.forEach(item => {

  const row = `
    <tr>
      <td>${item.published_dt}</td>
      <td>${item.title}</td>
      <td>${item.id}</td>
    </tr>
  `;
  tableBody.innerHTML += row;
  });




  })
  .catch(error => {
    document.getElementById('news-list').textContent = 'Fail!';
  });

			};


  window.onload = loadNews;
</script>

<h2 id="applications">Applications<h2>

{% for p in cached_plugins %}

<h3>{{p.plugin_name}}</h3>

	{% for c in p.controllers %}
		<a href="{{c.path}}">User home page</a>
	{% endfor %}

{% endfor %}


{% endblock %}