{% extends 'user_portal/base.html' %}
{% block title %}Space station user portal{% endblock %}
{% block body %}

{% if username %}
<h1>User profile</h1>
{{username}}

<h2>User favorites applications</h2>

    <button onclick="loadApps()">Read apps</button>

   <table border="1">
  <thead>
    <tr>
      <th>Title</th>
      <th>Links</th>
      <th>Exclude</th>

    </tr>
  </thead>
  <tbody id="table-body">
    <!-- data -->
  </tbody>
</table>

    <script>

	  async function loadApps() {

fetch('/userfav/userfav/')
  .then(response => response.json())
  .then(data => {
    // print
	const tableBody = document.getElementById('table-body');

// delete table
tableBody.innerHTML = '';

const FavPlugins = [];

// array
data.items.forEach(item => {

FavPlugins.push ( item.plugin_UUID );
  });

  {% for p in cached_plugins %}
	  if (FavPlugins.includes( '{{p.ID}}' )) {
	  const row = `
		<tr>
			<td>{{p.user_title}}</td>
		  <td>
		  <p>{{p.user_description}}</p>
		{% for c in p.controllers %}
			<a href="{{c.path}}">{{p.user_title}} application start page</a>
		{% endfor %}

		  </td>
		  <td>
			<!-- Data attribute holds the unique ID of the post -->
			<div id="post-card-{{p.ID}}">
			  <button onclick="deletePost('{{p.ID}}')">Exclude from fav</button>
			</div>
		  </td>
		</tr>
	  `;
	  tableBody.innerHTML += row;
	  };
  {% endfor %}

  })
  //.catch(error => {
  //  document.getElementById('table-body').textContent = 'Fail!';
  //})

  ;

			};


async function deletePost(PluginUUID) {
  // Optional confirmation prompt
  if (!confirm("Are you sure you want to exclude this application from you favorites?")) return;

  try {
    const response = await fetch(`/userfav/userfav/${PluginUUID}`, {
      method: 'DELETE',
      headers: {
        'Content-Type': 'application/json'
        // Add auth or CSRF tokens here if required by your backend
      }
    });

    if (response.ok) {
      // Successfully deleted from database, now remove from the visual UI
      loadApps();
    } else {
      alert("Failed to delete.");
    }
  } catch (error) {
    console.error("Error:", error);
    alert("An error occurred while deleting.");
  }
}


  window.onload = loadApps;
</script>


{% else %}

<a href="/users/login">Login</a>
{% endif %}

{% endblock %}