<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GIS</title>

    <!-- Relative paths point directly to local static files -->
	<link rel="stylesheet" href="{{ url_for_static_asset('static', file_path='ol/ol.css') }}">

    <script src="{{ url_for_static_asset('static', file_path='ol/ol.js') }}"></script>

<style>
        #map {
            width: 100%;
            height: 500px;
        }
</style>

</head>

<body>


<h1>Here is a GIS</h1>

<div id="map"></div>

<div class="controls">
    <label for="layer-select">Base Map: </label>
    <select id="layer-select">
        <option value="google">Google Maps</option>
        <option value="osm">OpenStreetMap</option>
		{% if geoserver_cfg %}
			<option value="geoserver">Internal GeoServer</option>
		{% endif %}
    </select>
</div>


    <script>
        // 1. Create a local source and layer to hold the drawings
        const vectorSource = new ol.source.Vector();
        const vectorLayer = new ol.layer.Vector({
            source: vectorSource,
			visible: true,
        });

        // 1. Define the OpenStreetMap Layer
        const osmLayer = new ol.layer.Tile({
            source: new ol.source.OSM(),
            visible: false // Hidden by default
        });

        // 2. Define the Google Maps Layer (using XYZ tiles)
        const googleLayer = new ol.layer.Tile({
            source: new ol.source.XYZ({
                url: 'https://mt{0-3}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}',
                attributions: '© Google'
            }),
            visible: true // Visible by default
        });


		{% if geoserver_cfg %}
			// Replace matrix name and parameters with your GeoServer details
			const projection = ol.proj.get( '{{geoserver_cfg.projection}}' );
			const projectionExtent = projection.getExtent();
			const size = ol.extent.getWidth(projectionExtent) / {{geoserver_cfg.extent_size}};
			const resolutions = new Array(20);
			const matrixIds = new Array(20);
			for (let z = 0; z < 20; ++z) {
				resolutions[z] = size / Math.pow(2, z);
				matrixIds[z] = 'WebMercator:' + z;
			}

			// Replace matrixSet, URL, layer and other parameters with your GeoServer details
			const geoserverLayer = new ol.layer.Tile({
				source: new ol.source.WMTS({
					attributions: '{{geoserver_cfg.wmts_attributions|safe}}',
					url: '{{geoserver_cfg.wmts_url}}',
					layer: '{{geoserver_cfg.wmts_layer}}',
					matrixSet: 'WebMercator',
					format: 'image/jpeg',
					projection: projection,
					tileGrid: new ol.tilegrid.WMTS({
						origin: ol.extent.getTopLeft(projectionExtent),
						resolutions: resolutions,
						matrixIds: matrixIds,
					}),
					style: 'default',
					wrapX: true,
				}),
				visible: false
			});

			// Replace URL, LAYERS with your GeoServer details
			const wmsLayer = new ol.layer.Image({
				source: new ol.source.ImageWMS({
					url: '{{geoserver_cfg.wms_url}}',
					params: {
						LAYERS: {{geoserver_cfg.wms_layers|safe}} },
					ratio: 1,
					serverType: 'geoserver',
				}),
				visible: false
			});
		{% endif %}

        // 2. Initialize Map
        const map = new ol.Map({
            target: 'map',
            layers: [ {% if geoserver_cfg %} geoserverLayer, {% endif %} osmLayer, googleLayer, {% if geoserver_cfg %} wmsLayer, {%endif%} vectorLayer,
            ],
            view: new ol.View({
                center: ol.proj.fromLonLat([ 32, 60 ]),
                zoom: 9,
            })
        });

		// 4. Handle Dropdown Change Switch Logic
		const layerSelect = document.getElementById('layer-select');

		layerSelect.addEventListener('change', (event) => {
			const selectedValue = event.target.value;

			// Hide all base layers first
			googleLayer.setVisible(false);
			osmLayer.setVisible(false);
			{% if geoserver_cfg %} 
				geoserverLayer.setVisible(false);
			{% endif %}
			// Show the chosen one
			if (selectedValue === 'google') {
				googleLayer.setVisible(true);
			} else if (selectedValue === 'osm') {
				osmLayer.setVisible(true);
			} {% if geoserver_cfg %} else if (selectedValue === 'geoserver') {
				geoserverLayer.setVisible(true);
				wmsLayer.setVisible(true);
			}{% endif %} 
		});




    </script>

</body>
</html>